@page
@model SongAndFilm.Pages.OtherServicesModel
@{
    ViewData["Title"] = "Other-Sevicess";
}

<section class="logo-container-services d-lg-none d-flex py-4 justify-content-center border-top position-relative bg-body">
    <article class="img-container p-4">
        <a href="index.html">
            <img src="assets/img/logo.png" alt="Logo" class="img-fluid" />
        </a>
    </article>
</section>
<section class="banner-container-services">
    <div class="banner-content-bg">
        <div class="banner-content-services container">
            <div class="row">
                <article class="image-content col-12 col-lg-6">
                    <div class="tittle-container d-flex justify-content-center align-items-center text-center w-100 h-100">
                        <h2 class="tittle-services text-uppercase fw-bold">
                            Other Services
                        </h2>
                    </div>
                </article>
                <article class="text-content col-12 col-lg-6 p-3">
                    <p class="card-text py-4 mt-5 fs-2">
                        We Are More Than Music Licensing.
                    </p>
                    <h3 class="subtittle-service py-5 fw-bold">Help With...</h3>
                    <hr class="my-5 w-50" />
                    <p class="card-text mt-4 pt-5 fs-3">
                        <i class="fas fa-check-square mx-3"></i>Copyrighting your
                        songs.
                    </p>
                    <p class="card-text pt-3 fs-3">
                        <i class="fas fa-check-square mx-3"></i>Setting up your
                        affiliation with ASCAP or BMI (writer & publisher royalties).
                    </p>
                    <p class="card-text pt-3 fs-3">
                        <i class="fas fa-check-square mx-3"></i>Setting up your
                        account with SoundExchange (digital royalties for rights’
                        owners and performers).
                    </p>
                    <p class="card-text pt-3 fs-3">
                        <i class="fas fa-check-square mx-3"></i>Submitting to Pandora
                    </p>
                    <a href="mailto:glorytvfilm@gmail.com"
                       class="btn btn-success border-0 w-25 my-4">Email Me</a>
                </article>
            </div>
        </div>
    </div>
</section>