@page
@model SongAndFilm.Pages.PlacementsModel
@{
    ViewData["Title"] = "Placements";
}
<section class="logo-container d-flex py-4 justify-content-center border-top position-relative bg-body">
    <article class="img-container d-lg-none p-4">
        <a href="index.html">
            <img src="assets/img/logo.png" alt="Logo" class="img-fluid" />
        </a>
    </article>
</section>
<section class="banner-container-placements text-center position-relative mb-4">
    <div class="banner-content-placements d-flex flex-column justify-content-center align-items-center">
        <article class="text-animation position-relative">
            <aside class="content position-absolute">
                <div class="content__container">
                    <ul class="content__container__list p-0 text-center">
                        <li class="content__container__list__item m-0">MOVIES</li>
                        <li class="content__container__list__item m-0">
                            FEATURED PLACEMENTS
                        </li>
                        <li class="content__container__list__item m-0">TV SHOWS</li>
                    </ul>
                </div>
            </aside>
        </article>
    </div>
</section>
<section class="card-container container mb-4">
    <article class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center">
            <hr class="w-50" />
        </div>
    </article>
    <!--load more-->
    <article class="card-container container clearfix">
        <div class="row d-flex flex-wrap justify-content-between">
            <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox my-3">
                <div class="item shadow-lg bg-body rounded">
                    <div class="card-placement card p-4">
                        <img src="assets/img/christmas.jpg"
                             class="card-img-top mb-4"
                             alt="..." />
                        <div class="card-body-placements">
                            <p class="card-text mb-4 fs-4">
                                Featured Placements: Christmas By Chance
                            </p>
                            <a href="#" class="card-body-placements mb-4 fs-4">
                                <small class="text-muted">Continue Reading </small>
                                <i class="fas fa-chevron-right mx-2"
                                   style="color: black"
                                   aria-hidden="true"></i>
                            </a>
                        </div>
                        <section class="container">
                            <article class="row mt-4">
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-user mx-2" aria-hidden="true"></i>JZ
                                </div>
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-list-alt mx-2" aria-hidden="true"></i>PLACEMENTS
                                </div>
                                <div class="profile col-12 col-lg-12 fs-4 mt-3">LIKE</div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox my-3">
                <div class="item shadow-lg bg-body rounded">
                    <div class="card-placement card p-4">
                        <img src="assets/img/denzel.jpg"
                             class="card-img-top mb-4"
                             alt="..." />
                        <div class="card-body-placements">
                            <p class="card-text mb-4 fs-4">
                                Featured Placements: The Little Things
                            </p>
                            <a href="#" class="card-body-placements mb-4 fs-4">
                                <small class="text-muted">Continue Reading </small>
                                <i class="fas fa-chevron-right mx-2"
                                   style="color: black"
                                   aria-hidden="true"></i>
                            </a>
                        </div>
                        <section class="container">
                            <article class="row mt-4">
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-user mx-2" aria-hidden="true"></i>JZ
                                </div>
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-list-alt mx-2" aria-hidden="true"></i>PLACEMENTS
                                </div>
                                <div class="profile col-12 col-lg-12 fs-4 mt-3">LIKE</div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox my-3">
                <div class="item shadow-lg bg-body rounded">
                    <div class="card-placement card p-4">
                        <img src="assets/img/sunset.jpg"
                             class="card-img-top mb-4"
                             alt="..." />
                        <div class="card-body-placements">
                            <p class="card-text mb-4 fs-4">
                                Featured Placements: Selling Sunset
                            </p>
                            <a href="#" class="card-body-placements mb-4 fs-4">
                                <small class="text-muted">Continue Reading </small>
                                <i class="fas fa-chevron-right mx-2"
                                   style="color: black"
                                   aria-hidden="true"></i>
                            </a>
                        </div>
                        <section class="container">
                            <article class="row mt-4">
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-user mx-2" aria-hidden="true"></i>GLORY
                                </div>
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-list-alt mx-2" aria-hidden="true"></i>PLACEMENTS
                                </div>
                                <div class="profile col-12 col-lg-12 fs-4 mt-3">LIKE</div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox my-3"
                 style="display: none">
                <div class="item shadow-lg bg-body rounded">
                    <div class="card-placement card p-4">
                        <img src="https://s.yimg.com/ny/api/res/1.2/kteFu7JI2K6hCdqCAc.Ogw--/YXBwaWQ9aGlnaGxhbmRlcjt3PTk2MDtoPTY0MC40Nzc2MTE5NDAyOTg1/https://media-mbst-pub-ue1.s3.amazonaws.com/creatr-uploaded-images/2020-01/376af6a0-32f3-11ea-9ffc-f7d35cebc09a"
                             class="card-img-top mb-4"
                             alt="..." />
                        <div class="card-body-placements">
                            <p class="card-text mb-4 fs-4">
                                Featured Placements: Spining Out
                            </p>
                            <a href="#" class="card-body-placements mb-4 fs-4">
                                <small class="text-muted">Continue Reading </small>
                                <i class="fas fa-chevron-right mx-2"
                                   style="color: black"
                                   aria-hidden="true"></i>
                            </a>
                        </div>
                        <section class="container">
                            <article class="row mt-4">
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-user mx-2" aria-hidden="true"></i>JZ
                                </div>
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-list-alt mx-2" aria-hidden="true"></i>PLACEMENTS
                                </div>
                                <div class="profile col-12 col-lg-12 fs-4 mt-3">LIKE</div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox my-3"
                 style="display: none">
                <div class="item shadow-lg bg-body rounded">
                    <div class="card-placement card p-4">
                        <img src="https://www1.cbn.com/sites/default/files/styles/original/public/media/standard/images/mistletoe-magic_si.jpg?itok=dxYv1Flc"
                             class="card-img-top mb-4"
                             alt="..." />
                        <div class="card-body-placements">
                            <p class="card-text mb-4 fs-4">
                                Featured Placements: Mistletoe Magic
                            </p>
                            <a href="#" class="card-body-placements mb-4 fs-4">
                                <small class="text-muted">Continue Reading </small>
                                <i class="fas fa-chevron-right mx-2"
                                   style="color: black"
                                   aria-hidden="true"></i>
                            </a>
                        </div>
                        <section class="container">
                            <article class="row mt-4">
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-user mx-2" aria-hidden="true"></i>JZ
                                </div>
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-list-alt mx-2" aria-hidden="true"></i>PLACEMENTS
                                </div>
                                <div class="profile col-12 col-lg-12 fs-4 mt-3">LIKE</div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox my-3"
                 style="display: none">
                <div class="item shadow-lg bg-body rounded">
                    <div class="card-placement card p-4">
                        <img src="https://i.pinimg.com/564x/84/1d/07/841d0766a4e4c562f020056a0b4ba269.jpg"
                             class="card-img-top mb-4"
                             alt="..." />
                        <div class="card-body-placements">
                            <p class="card-text mb-4 fs-4">
                                Featured Placements: A Very Corgi Christmas
                            </p>
                            <a href="#" class="card-body-placements mb-4 fs-4">
                                <small class="text-muted">Continue Reading </small>
                                <i class="fas fa-chevron-right mx-2"
                                   style="color: black"
                                   aria-hidden="true"></i>
                            </a>
                        </div>
                        <section class="container">
                            <article class="row mt-4">
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-user mx-2" aria-hidden="true"></i>JZ
                                </div>
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-list-alt mx-2" aria-hidden="true"></i>PLACEMENTS
                                </div>
                                <div class="profile col-12 col-lg-12 fs-4 mt-3">LIKE</div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox my-3"
                 style="display: none">
                <div class="item shadow-lg bg-body rounded">
                    <div class="card-placement card p-4">
                        <img src="https://lovingseries.files.wordpress.com/2019/07/good-witch.jpg"
                             class="card-img-top mb-4"
                             alt="..." />
                        <div class="card-body-placements">
                            <p class="card-text mb-4 fs-4">
                                Featured Placements: Good Witch
                            </p>
                            <a href="#" class="card-body-placements mb-4 fs-4">
                                <small class="text-muted">Continue Reading </small>
                                <i class="fas fa-chevron-right mx-2"
                                   style="color: black"
                                   aria-hidden="true"></i>
                            </a>
                        </div>
                        <section class="container">
                            <article class="row mt-4">
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-user mx-2" aria-hidden="true"></i>JZ
                                </div>
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-list-alt mx-2" aria-hidden="true"></i>PLACEMENTS
                                </div>
                                <div class="profile col-12 col-lg-12 fs-4 mt-3">1</div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox my-3"
                 style="display: none">
                <div class="item shadow-lg bg-body rounded">
                    <div class="card-placement card p-4">
                        <img src="https://miro.medium.com/max/640/1*NRtDqM7d-ZEiHUaHNySjRQ.jpeg"
                             class="card-img-top mb-4"
                             alt="..." />
                        <div class="card-body-placements">
                            <p class="card-text mb-4 fs-4">
                                Featured Placements: The Rain
                            </p>
                            <a href="#" class="card-body-placements mb-4 fs-4">
                                <small class="text-muted">Continue Reading </small>
                                <i class="fas fa-chevron-right mx-2"
                                   style="color: black"
                                   aria-hidden="true"></i>
                            </a>
                        </div>
                        <section class="container">
                            <article class="row mt-4">
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-user mx-2" aria-hidden="true"></i>JZ
                                </div>
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-list-alt mx-2" aria-hidden="true"></i>PLACEMENTS
                                </div>
                                <div class="profile col-12 col-lg-12 fs-4 mt-3">1</div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox my-3"
                 style="display: none">
                <div class="item shadow-lg bg-body rounded">
                    <div class="card-placement card p-4">
                        <img src="https://ahoramismo.com/wp-content/uploads/2017/01/su-nombre-era-dolores-la-jenn-que-yo-conoci-cover-1.jpg?quality=65&strip=all"
                             class="card-img-top mb-4"
                             alt="..." />
                        <div class="card-body-placements">
                            <p class="card-text mb-4 fs-4">
                                Featured Placements: Su nombre era Dolores
                            </p>
                            <a href="#" class="card-body-placements mb-4 fs-4">
                                <small class="text-muted">Continue Reading </small>
                                <i class="fas fa-chevron-right mx-2"
                                   style="color: black"
                                   aria-hidden="true"></i>
                            </a>
                        </div>
                        <section class="container">
                            <article class="row mt-4">
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-user mx-2" aria-hidden="true"></i>JZ
                                </div>
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-list-alt mx-2" aria-hidden="true"></i>PLACEMENTS
                                </div>
                                <div class="profile col-12 col-lg-12 fs-4 mt-3">1</div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox my-3"
                 style="display: none">
                <div class="item shadow-lg bg-body rounded">
                    <div class="card-placement card p-4">
                        <img src="https://st1.uvnimg.com/a7/31/2fb0b7c14be5b543c77930877b5f/club-cuervos.jpg"
                             class="card-img-top mb-4"
                             alt="..." />
                        <div class="card-body-placements">
                            <p class="card-text mb-4 fs-4">
                                Featured Placements: Club de Cuervos
                            </p>
                            <a href="#" class="card-body-placements mb-4 fs-4">
                                <small class="text-muted">Continue Reading </small>
                                <i class="fas fa-chevron-right mx-2"
                                   style="color: black"
                                   aria-hidden="true"></i>
                            </a>
                        </div>
                        <section class="container">
                            <article class="row mt-4">
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-user mx-2" aria-hidden="true"></i>JZ
                                </div>
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-list-alt mx-2" aria-hidden="true"></i>PLACEMENTS
                                </div>
                                <div class="profile col-12 col-lg-12 fs-4 mt-3">1</div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox my-3"
                 style="display: none">
                <div class="item shadow-lg bg-body rounded">
                    <div class="card-placement card p-4">
                        <img src="https://elcadillacnegro.files.wordpress.com/2017/07/bloodline-season-3-logo.jpg"
                             class="card-img-top mb-4"
                             alt="..." />
                        <div class="card-body-placements">
                            <p class="card-text mb-4 fs-4">
                                Featured Placements: Bloodline
                            </p>
                            <a href="#" class="card-body-placements mb-4 fs-4">
                                <small class="text-muted">Continue Reading </small>
                                <i class="fas fa-chevron-right mx-2"
                                   style="color: black"
                                   aria-hidden="true"></i>
                            </a>
                        </div>
                        <section class="container">
                            <article class="row mt-4">
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-user mx-2" aria-hidden="true"></i>JZ
                                </div>
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-list-alt mx-2" aria-hidden="true"></i>PLACEMENTS
                                </div>
                                <div class="profile col-12 col-lg-12 fs-4 mt-3">1</div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox my-3"
                 style="display: none">
                <div class="item shadow-lg bg-body rounded">
                    <div class="card-placement card p-4">
                        <img src="assets/img/NFL-RUSH.jpg"
                             class="card-img-top mb-4"
                             alt="..." />
                        <div class="card-body-placements">
                            <p class="card-text mb-4 fs-4">
                                Featured Placements: NFL RUSH
                            </p>
                            <a href="#" class="card-body-placements mb-4 fs-4">
                                <small class="text-muted">Continue Reading </small>
                                <i class="fas fa-chevron-right mx-2"
                                   style="color: black"
                                   aria-hidden="true"></i>
                            </a>
                        </div>
                        <section class="container">
                            <article class="row mt-4">
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-user mx-2" aria-hidden="true"></i>JZ
                                </div>
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-list-alt mx-2" aria-hidden="true"></i>PLACEMENTS
                                </div>
                                <div class="profile col-12 col-lg-12 fs-4 mt-3">1</div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox my-3"
                 style="display: none">
                <div class="item shadow-lg bg-body rounded">
                    <div class="card-placement card p-4">
                        <img src="assets/img/Jessica-Simpson.jpg"
                             class="card-img-top mb-4"
                             alt="..." />
                        <div class="card-body-placements">
                            <p class="card-text mb-4 fs-4">
                                Featured Placements: Major Movie Star
                            </p>
                            <a href="#" class="card-body-placements mb-4 fs-4">
                                <small class="text-muted">Continue Reading </small>
                                <i class="fas fa-chevron-right mx-2"
                                   style="color: black"
                                   aria-hidden="true"></i>
                            </a>
                        </div>
                        <section class="container">
                            <article class="row mt-4">
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-user mx-2" aria-hidden="true"></i>JZ
                                </div>
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-list-alt mx-2" aria-hidden="true"></i>PLACEMENTS
                                </div>
                                <div class="profile col-12 col-lg-12 fs-4 mt-3">1</div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox my-3"
                 style="display: none">
                <div class="item shadow-lg bg-body rounded">
                    <div class="card-placement card p-4">
                        <img src="https://pics.filmaffinity.com/Men_in_Trees_Serie_de_TV-354896074-large.jpg"
                             class="card-img-top mb-4"
                             alt="..." />
                        <div class="card-body-placements">
                            <p class="card-text mb-4 fs-4">
                                Featured Placements: Men in Trees
                            </p>
                            <a href="#" class="card-body-placements mb-4 fs-4">
                                <small class="text-muted">Continue Reading </small>
                                <i class="fas fa-chevron-right mx-2"
                                   style="color: black"
                                   aria-hidden="true"></i>
                            </a>
                        </div>
                        <section class="container">
                            <article class="row mt-4">
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-user mx-2" aria-hidden="true"></i>JZ
                                </div>
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-list-alt mx-2" aria-hidden="true"></i>PLACEMENTS
                                </div>
                                <div class="profile col-12 col-lg-12 fs-4 mt-3">1</div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox my-3"
                 style="display: none">
                <div class="item shadow-lg bg-body rounded">
                    <div class="card-placement card p-4">
                        <img src="https://variety.com/wp-content/uploads/2014/05/walk-of-shame-movie-review.jpg?w=1000"
                             class="card-img-top mb-4"
                             alt="..." />
                        <div class="card-body-placements">
                            <p class="card-text mb-4 fs-4">
                                Featured Placements: Walk of Shame
                            </p>
                            <a href="#" class="card-body-placements mb-4 fs-4">
                                <small class="text-muted">Continue Reading </small>
                                <i class="fas fa-chevron-right mx-2"
                                   style="color: black"
                                   aria-hidden="true"></i>
                            </a>
                        </div>
                        <section class="container">
                            <article class="row mt-4">
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-user mx-2" aria-hidden="true"></i>JZ
                                </div>
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-list-alt mx-2" aria-hidden="true"></i>PLACEMENTS
                                </div>
                                <div class="profile col-12 col-lg-12 fs-4 mt-3">1</div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox my-3"
                 style="display: none">
                <div class="item shadow-lg bg-body rounded">
                    <div class="card-placement card p-4">
                        <img src="https://static.next-episode.net/tv-shows-images/huge/windfall.jpg"
                             class="card-img-top mb-4"
                             alt="..." />
                        <div class="card-body-placements">
                            <p class="card-text mb-4 fs-4">
                                Featured Placements: Windfall
                            </p>
                            <a href="#" class="card-body-placements mb-4 fs-4">
                                <small class="text-muted">Continue Reading </small>
                                <i class="fas fa-chevron-right mx-2"
                                   style="color: black"
                                   aria-hidden="true"></i>
                            </a>
                        </div>
                        <section class="container">
                            <article class="row mt-4">
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-user mx-2" aria-hidden="true"></i>JZ
                                </div>
                                <div class="profile col-6 col-lg-6 fs-4 p-0">
                                    <i class="fas fa-list-alt mx-2" aria-hidden="true"></i>PLACEMENTS
                                </div>
                                <div class="profile col-12 col-lg-12 fs-4 mt-3">1</div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
            <div id="loadMore">
                <a href="#">Load More</a>
            </div>
        </div>
    </article>
</section>